[user]
        name = DESBOIS-RENAUDIN Meo
        email = meo.desbois@gmail.com
[http]
        sslVerify = false
[color]
        ui = auto
[alias]
        st = status
        co = checkout
        br = branch
[push]
        default = simple
[credential]
        helper = cache
